@import "tailwindcss";

@keyframes smooth-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-smooth-spin {
  animation: smooth-spin 14s linear infinite;
}